.top-bar {
  height: 130px;
  width: 100%;
  position: fixed;
  top: 0;
  background-image: url("../../assets/topbar.png");
  background-size: cover;
  /*background: linear-gradient(#5c944d, #74ab64);*/
  background-color: #5bb447;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.top-bar button {
  background-color: white;
  border: none;
  margin: 5px;
  flex-basis: 100px;
  height: 30px;
  border-radius: 5px;

  box-shadow: 3px 3px 10px #414141;
}

.top-bar button:hover {
  background-color: #b6b6b6;
  color: white;
  cursor: pointer;
}

.container {
  background: linear-gradient(#d2d2d2, #e8e8e8);
}

.container-body {
  overflow-y: auto;
  margin-top: 130px;
  margin-left: 100px;
}

.sample-form {
  background-color: white;
  margin: 10px;
  height: 500px;
  width: 85%;
  border-radius: 3px;
  padding: 20px;
  box-shadow: 3px 3px 3px #939393;
  display: flex;
  flex-direction: column;
}

.sample-form label {
  color: gray;
  font-family: Roboto, monospace;
  font-size: 13px;
}

span {
  color: red;
}

.sample-form__project-code-title {
  margin-top: 45px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;

  justify-content: space-between;
}

h3 {
  font-weight: lighter;
}

.sample-form__project-code-title label:first-child {
  flex-basis: 18%;
}

.sample-form__project-code-title label:last-child {
  flex-basis: 80%;
}

#project-code {
  height: 35px;
  width: 100%;
  margin-top: 15px;
  font-family: Roboto, monospace;
}

#project-title {
  height: 35px;
  width: 100%;
  margin-top: 15px;
  font-family: Roboto, monospace;
}

#project-description {
  width: 100%;
  height: 150px;
  margin-top: 20px;
  margin-bottom: 30px;
  resize: none;
  outline: 0;
  padding: 5px;
  border-radius: 5px;
  font-family: Roboto, monospace;
}

#implementation-status {
  height: 35px;
  width: 100%;
  margin-top: 10px;
  font-family: Roboto, monospace;
}

.sample-form__bottom {
  display: flex;
  justify-content: space-between;
}

.sample-form__bottom input {
  height: 35px;
  margin-top: 10px;
}

.sample-form__bottom label:first-child {
  flex-basis: 30%;
}

.sample-form__bottom label:last-child {
  flex-basis: 13%;
}

#duration {
  width: 55%;
}

.sample-form__bottom label:last-child span {
  color: gray;
  width: auto;
}

.sectors {
  background-color: white;
  margin: 10px;
  height: auto;
  width: 85%;
  border-radius: 3px;
  padding: 20px;
  box-shadow: 3px 3px 3px #939393;
}

.sectors-body {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 40px;
}

.sectors-table th {
  width: 50%;
  height: 40px;
  font-family: Roboto, monospace;
  font-weight: lighter;
  color: gray;
}

.sectors-table th:first-child {
  text-align: left;
  cursor: pointer;
}

.sectors-table th:last-child {
  text-align: right;
  padding-right: 5px;
}

.sectors-table tr td:first-child {
  text-align: left;
  padding-left: 5px;
}

.sectors-table tr td:last-child {
  text-align: right;
  padding-right: 5px;
}

.sectors-table td {
  border: 1px solid black;
  height: 40px;
  font-family: Roboto, monospace;
}

.sectors-form {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.sectors-form__select {
  flex-basis: 31%;
  margin-top: 10px;
  font-family: Roboto, monospace;
}

.sectors-form select {
  height: 35px;
  width: 100%;
  font-family: Roboto, monospace;
}

.sector-error {
  height: auto;
  text-align: center;
  width: 100%;
  border-radius: 3px;
  background-color: #ffa7a7;
  color: #7c0000;
  font-size: 14px;
}

.sectors-form__input {
  flex-basis: 13%;
  font-family: Roboto, monospace;
}

.sectors-form input {
  height: 35px;
  margin-top: 10px;
  width: 100%;
  font-family: Roboto, monospace;
}

.sectorPercent-error {
  height: auto;
  text-align: center;
  width: 100%;
  padding-top: 3px;
  border-radius: 3px;
  background-color: #ffa7a7;
  color: #7c0000;
  font-size: 14px;
}

.add-button {
  height: 35px;
  color: white;
  background-color: #6fab27;
  border: none;
  flex-basis: 10%;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 2px 2px 5px #a2a2a2;
}

.add-button:disabled {
  color: #757575;
  background-color: #d3d3d3;
  cursor: auto;
  box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.locations {
  background-color: white;
  margin: 10px;
  height: auto;
  width: 85%;
  border-radius: 3px;
  padding: 20px;
  box-shadow: 3px 3px 3px #939393;
}

.locations .add-button {
  width: 10%;
  margin-top: 30px;
}

.locations-table th {
  width: 33%;
  height: 40px;
  font-family: Roboto, monospace;
  font-weight: lighter;
  color: gray;
}

.locations-table th:first-child, th:nth-child(2) {
  text-align: left;
  padding-left: 5px;
  cursor: pointer;
}

.locations-table th:last-child {
  text-align: right;
  padding-right: 5px;
}

.locations-table tr td:first-child, td:nth-child(2) {
  text-align: left;
  padding-left: 5px;
}

.locations-table tr td:last-child {
  text-align: right;
  padding-right: 5px;
}

.locations-table td {
  border: 1px solid black;
  height: 40px;
}

.location-popup-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.location-popup-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.location-popup-header button {
  border: none;
  background-color: white;
  color: gray;
  cursor: pointer;
}

.location-popup {
  width: 350px;
  height: 500px;
  padding: 25px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3px;
}

.location-popup form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.location-popup select {
  width: 100%;
  height: 35px;
  font-family: Roboto, monospace;
  margin-top: 10px;
}

.location-popup label {
  font-family: Roboto, monospace;
  font-weight: lighter;
  color: gray;
}

.location-popup input {
  width: 85px;
  height: 35px;
  font-family: Roboto, monospace;
}

.location-popup__input {
  display: flex;
  align-items: flex-end;
  font-family: Roboto, monospace;
  justify-content: space-between;
}

.locationPercent-error {
  height: 35px;
  text-align: center;
  width: auto;
  border-radius: 3px;
  background-color: #ffa7a7;
  color: #7c0000;
  padding: 7px 3px 3px 3px;
}

