img {
    flex-basis: 70px;
    height: 18px;
}

th:last-child img {
  display: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 40px;
}

.table th {
    width: 50%;
    height: 40px;
    font-family: Roboto, monospace;
    font-weight: lighter;
    color: gray;
}

.table th:first-child {
    text-align: left;
    cursor: pointer;
    display: flex;
}

.table th:last-child {
    text-align: right;
    padding-right: 5px;
}

.table tr td:first-child {
    text-align: left;
    padding-left: 5px;
}

.table tr td:last-child {
    text-align: right;
    padding-right: 5px;
}

.table td {
    border: 1px solid black;
    height: 40px;
    font-family: Roboto, monospace;
}
