label {
    color: gray;
    font-family: Roboto, monospace;
    font-size: 13px;
}

span {
    color: red;
}

#text-input {
    height: 35px;
    width: 100%;
    margin-top: 15px;
    font-family: Roboto, monospace;
}

#textarea {
    width: 100%;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
    resize: none;
    outline: 0;
    padding: 5px;
    border-radius: 5px;
    font-family: Roboto, monospace;
}