<div class="location-popup">
  <div class="location-popup-header">
    <h3>Add Project Location</h3>

    <button (click)="closePopup.emit(false)">
      X
    </button>
  </div>

  <div class="location-popup-body">
    <app-combo-box [label]="'County'" [dropdownData]="counties"
                   (selectedValueChange)="filterDistricts($event[0])"></app-combo-box>

    <app-combo-box [label]="'Districts'" [dropdownData]="districts"
                   (selectedValueChange)="setDistrict($event)"></app-combo-box>

    <app-error errorMessage="County and District selected. Please select another District"
               *ngIf="isValidCountyAndDistrict"></app-error>


    <app-number-input [withLabel]="true" [label]="'%'" [errorMessage]="'Invalid percentage'"
                      (inputValueChange)="setPercent($event)" [withCustomError]="true"></app-number-input>


  </div>
  <button class="add-button" (click)="addLocationTableRow()"
          [disabled]="!isValidCountyAndDistrict && !isValidPercent">
    ADD
  </button>
</div>
