span {
    color: red;
}

.location-popup-header {
    display: flex;
    justify-content: space-between;
}

.location-popup-header button {
    border: none;
    background-color: white;
    color: gray;
    cursor: pointer;
}

.location-popup-body {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  justify-content: space-between;
}

.location-popup {
    width: 350px;
    height: 500px;
    padding: 20px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
}

.location-popup-body app-combo-box {
    width: 100%;
    /*height: 35px;*/
    font-family: Roboto, monospace;
    margin-top: 10px;
}

.location-popup-body app-number-input {
    width: 100%;
    height: 35px;
    font-family: Roboto, monospace;
}

app-error {
    height: 35px;
    text-align: center;
    width: auto;
    border-radius: 3px;
    background-color: #ffa7a7;
    color: #7c0000;
    padding: 7px 3px 3px 3px;
}
