<label for="number-input" *ngIf="!withLabel && !withoutLabel"> {{label}} <br>
  <input [(ngModel)]="value" id="number-input" type="number"> <ng-content></ng-content>
</label>

<div class="withLabel" *ngIf="withLabel">
  <label for="number-input__withLabel"> {{label}} <br>
    <input #input [(ngModel)]="value" id="number-input__withLabel" type="number"
           (change)="inputValidation(input.value)">
  </label>

  <app-error [errorMessage]="errorMessage" *ngIf="!isValidPercent" [customError]="withCustomError"></app-error>
</div>

<div class="withoutLabel" *ngIf="withoutLabel">
  <input #input [(ngModel)]="value" id="number-input__withoutLabel" type="number"
         (change)="inputValidation(input.value)">

  <app-error [errorMessage]="errorMessage" *ngIf="!isValidPercent" [customError]="withCustomError"></app-error>
</div>
